/* General reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "AMORIA";
  src: url("./fonts/AMORIARegular.woff2") format("woff2"),
    url("./fonts/AMORIARegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* variables */
:root {
  font-size: 16px;
  --container-background: rgb(239, 255, 253);
  --header-background: rgb(255, 229, 212);
  --shadow-color: rgb(177, 177, 177);
  --button-background: rgb(201, 95, 95);
}

/* Typography */
body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "AMORIA", serif;
  font-size: 4rem;
}

/* Container */
.container {
  background-color: var(--container-background);
  height: 100vh;
}

/* Header */
.header {
  text-align: center;
  background-color: var(--header-background, lightpink);
  box-shadow: 0px 2px 5px var(--shadow-color);
}

.logo img {
  height: 6em;
  object-fit: cover;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

/* Library */
.library-container {
  width: clamp(400px, 100%, 1200px);
  margin: 0 auto;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 2rem;
}

.nav button {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  background: none;
  outline: none;
  border: none;
}

.nav > button {
  background-color: var(--button-background);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 1rem;
  text-align: center;
  flex-shrink: 0;
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search input {
  width: clamp(250px, 40vw, 700px);
  font: inherit;
  padding: 0.5rem 1rem;
  background-color: rgb(223, 223, 223);
  border: none;
  outline: none;
  border-radius: 1rem;
}
